force-app/main/default/flows/Book_Order_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Book_Count_Assignment</name>
        <label>Book Count Assignment</label>
        <locationX>1249</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>varBooksAdded</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_More_Books_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Book_Order_Line_Item_Record_Collection_Variable_Assignment</name>
        <label>Book Order Line Item Record Collection Variable Assignment</label>
        <locationX>1249</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>varBookLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBookLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Book_Count_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Book_Order_Line_Item_Record_Variable_Assignment</name>
        <label>Book Order Line Item Record Variable Assignment</label>
        <locationX>1087</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>varBookLineItem.Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selection_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBookLineItem.Book_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Book_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBookLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Book_Order_Line_Item_Record_Collection_Variable_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_More_Books_Decision</name>
        <label>Add More Books Decision</label>
        <locationX>923</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Create_Book_Order_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finished</defaultConnectorLabel>
        <rules>
            <name>More_Books</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>More_Books_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Screen</targetReference>
            </connector>
            <label>More Books</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Books_in_the_Order</name>
        <label>How Many Books in the Order?</label>
        <locationX>317</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Create_QA_Task_for_Book_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_or_Equal_to_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBooksAdded</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_greater_than_5</targetReference>
            </connector>
            <label>Greater Than or Equal to 5</label>
        </rules>
        <rules>
            <name>X13_OR_41</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varBooksAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBooksAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_equal_3_or_4</targetReference>
            </connector>
            <label>3 OR 4</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BookCollectionChoiceSet</name>
        <collectionReference>Get_Books</collectionReference>
        <dataType>String</dataType>
        <displayField>Book_Flow_Label__c</displayField>
        <object>Book__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <interviewLabel>Book Order Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Book_Order</name>
        <label>Create Book Order</label>
        <locationX>787</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Order_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Book_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Book_Order_Line_Items</name>
        <label>Create Book Order Line Items</label>
        <locationX>745</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>varBookLineItemCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>task_equal_3_or_4</name>
        <label>task equal 3 or 4</label>
        <locationX>325</locationX>
        <locationY>761</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Records_for_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add Bookmark</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varBookLineItem.Book_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>task_greater_than_5</name>
        <label>task greater than 5</label>
        <locationX>592</locationX>
        <locationY>663</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Records_for_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add Bookmark and Sticker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varBookLineItem.Book_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Book</name>
        <label>Get Book</label>
        <locationX>290</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>How_Many_Books_in_the_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBookLineItem.Book_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Book__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Book records to provide list of available offerings</description>
        <name>Get_Books</name>
        <label>Get Books</label>
        <locationX>681</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Book_Order</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Book__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_for_Queue</name>
        <label>Get Records for Queue</label>
        <locationX>459</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFulfillment_Team_Queue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>598</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Records_for_Queue</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;The Book Order has been created with {!varBooksAdded} books included.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Screen</name>
        <label>Order Screen</label>
        <locationX>928</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Book_Order_Line_Item_Record_Variable_Assignment</targetReference>
        </connector>
        <fields>
            <name>Choice_Message</name>
            <fieldText>&lt;p&gt;Please select the book(s) desired. There are {!varBooksAdded} in the order so far.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selection_s</name>
            <choiceReferences>BookCollectionChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection(s)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>More_Books_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to add additional books to this order?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>I will add another book</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>This is final book</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_book_order</name>
        <label>Start book order</label>
        <locationX>561</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Books</targetReference>
        </connector>
        <fields>
            <name>Start</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click Next to create a book order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Start_book_order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_QA_Task_for_Book_Order</name>
        <label>Create QA Task for Book Order</label>
        <locationX>50</locationX>
        <locationY>530</locationY>
        <flowName>Create_QA_Task_for_Book_Order</flowName>
        <inputAssignments>
            <name>varQATeamQueue</name>
            <value>
                <elementReference>varQATeamQueue</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varBookLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varBookLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varBooksAdded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFulfillment_Team_Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fulfillment_Team</stringValue>
        </value>
    </variables>
    <variables>
        <name>varQATeamQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>QA_Team</stringValue>
        </value>
    </variables>
</Flow>
