force-app/main/default/flows/Recommendation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Recommendation</name>
        <label>Email Recommendation</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Customer_Info.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Customized Recommendation from Dreamscape Bookshop</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Customer_Info.Last_Outreach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <description>Displays the text of the customer recommendation email and sends it after approval</description>
    <environments>Default</environments>
    <interviewLabel>Recommendation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommendation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Customer_Info</name>
        <label>Get Customer Info</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Body_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCustomerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Email_Recommendation</targetReference>
        </connector>
        <inputReference>Get_Customer_Info</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>email</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 17, 68); font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace; font-size: 14px; background-color: rgb(247, 247, 249);&quot;&gt;Your email has been sent&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Body_Display</name>
        <label>Email Body Display</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <fields>
            <name>ClickNext</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Click &lt;em&gt;Next&lt;/em&gt; to send the following recommendation email to this customer, based on their Current Recommendation.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailBodyOnScreen</name>
            <fieldText>&lt;p&gt;{!EmailBody}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Customer_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Customer,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks for being a customer of Dreamscape Bookshop! We also like the books you bought recently, and we&apos;ve got another one like it that we think you&apos;ll love! Check it out!&lt;/p&gt;&lt;p&gt;Name:- {!Get_Customer_Info.FirstName},&lt;/p&gt;&lt;p&gt;Book:- {!Get_Customer_Info.Why_should_you_read_this_book__c},&lt;/p&gt;&lt;p&gt;Title: {!Get_Customer_Info.Title},&lt;/p&gt;&lt;p&gt;{!Get_Customer_Info.Current_Recommendation__c},&lt;/p&gt;&lt;p&gt;Author:- {!Get_Customer_Info.Current_Recommendation__r.Author__c},&lt;/p&gt;&lt;p&gt;Summary:- {!Get_Customer_Info.Current_Recommendation__r.Book_Summary__c},&lt;/p&gt;&lt;p&gt;{!Get_Customer_Info.Current_Recommendation__r.Book_Flow_Label__c},&lt;/p&gt;&lt;p&gt;{!Get_Customer_Info.Current_Recommendation__r.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
